<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Name</key>
		<string>Общие положения</string>
		<key>Number</key>
		<integer>1</integer>
		<key>subChapters</key>
		<dict>
			<key>1</key>
			<dict>
				<key>Number</key>
				<string>1.1</string>
				<key>Text</key>
				<string>Настоящие Правила в соответствии с Законом Украины «О дорожном движении» устанавливают единый порядок дорожного движения на всей территории Украины.

Другие нормативные акты, касающиеся особенностей дорожного движения (перевозка специальных грузов, эксплуатация транспортных средств отдельных видов, движение на закрытой территории и т. п.), должны основываться на требованиях этих Правил.</string>
			</dict>
			<key>2</key>
			<dict>
				<key>Number</key>
				<string>1.2</string>
				<key>Text</key>
				<string>В Украине установлено правостороннее движение транспортных средств.</string>
			</dict>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>Name</key>
		<string>йцуйцуйцуйцуйцуйцуйцуйцуйц уйцу йц у</string>
		<key>Number</key>
		<integer>2</integer>
		<key>subChapters</key>
		<dict>
			<key>1</key>
			<dict>
				<key>Number</key>
				<string>2.1</string>
				<key>Text</key>
				<string>Водитель механического транспортного средства должен иметь при себе:
а) удостоверение на право управления транспортным средством соответствующей категории;
б) регистрационный документ на транспортное средство (для транспортных средств Вооруженных Сил, Национальной гвардии, Госпогранслужбы, Госспецтрансслужбы, Госспецсвязи, Оперативно-спасательной службы гражданской защиты — технический талон);
в) в случае установления на транспортных средствах проблесковых маячков и (или) специальных звуковых сигнальных устройств — разрешение, выданное уполномоченным органом МВД, а в случае установления проблескового маячка оранжевого цвета на крупногабаритных и тяжеловесных транспортных средствах — разрешение, выданное уполномоченным подразделением Национальной полиции;
г) на маршрутных транспортных средствах — схему маршрута и расписание движения; на тяжеловесных и крупногабаритных транспортных средствах, которые перевозят опасные грузы, — документацию в соответствии с требованиями специальных правил;
ґ) полис (сертификат) обязательного страхования гражданско-правовой ответственности владельцев наземных транспортных средств. Водители, которые в соответствии с законодательством освобождаются от обязательного страхования гражданско-правовой ответственности владельцев наземных транспортных средств на территории Украины, должны иметь при себе соответствующие подтверждающие документы (удостоверения).</string>
			</dict>
			<key>2</key>
			<dict>
				<key>Number</key>
				<string>2.2</string>
				<key>Text</key>
				<string>Владелец транспортного средства, а также лицо, которое использует данное транспортное средство на законных основаниях, могут передавать в своем присутствии управление транспортным средством другому лицу, которое имеет при себе удостоверение на право управления транспортным средством соответствующей категории.   Владелец транспортного средства может передавать данное средство в пользование другому лицу, имеющему водительское удостоверение на право управления транспортным средством соответствующей категории, передав ему регистрационный документ на это транспортное средство.</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
